.login_page
  .container
    .question_form
      - @questions.each do |question|
        %tr
          %td= "#{question.name}".html_safe
          %td= #Answer::OPTIONS.key(question.option_type)
          %td=# Category.find_by_id(question.category_id).question_category
          %td=# link_to 'Show', question, :class => "btn btn-primary"
          %td=# link_to 'Edit', edit_question_path(question), :class => "btn btn-primary"
          %td= #link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary"
  %br/
  =# link_to "Add Question", new_question_path, :class => "btn btn-default"