:javascript
  $(document).ready(function(){
    var set_timer = function() {
      var quiz_duration = parseInt("60");
      var target_date = new Date();
      target_date.setMinutes(target_date.getMinutes() + quiz_duration);
      target_date.setMinutes(target_date.getMinutes());
      var minutes, seconds;
      var countdown = document.getElementById("timer");
      var time_out = quiz_duration * 60 * 1000;
      setInterval(function() {
        var current_date = new Date().getTime();
        var seconds_left = (target_date - current_date) / 1000;
        minutes = parseInt(seconds_left / 60);
        seconds = parseInt(seconds_left % 60);
        countdown.innerHTML = formatTime(minutes, seconds);
      }, 100);
      setTimeout(function() {
        var attended = $(".quiz").data('attending');
        window.location.href = '#{finish_exam_quizzes_path}'+'?attended='+attended;
      }, time_out);
    }();

    // Time format helpers
    var formatTime = function(minutes, seconds) {
      var min = parseInt(minutes),
          sec = parseInt(seconds);
      return (min > 0 ? pad(min, 2) : "00") + ":" + pad(sec, 2);
    }
    var pad = function(number, length) {
      var str = '' + number;
      while (str.length < length) {str = '0' + str;}
      return str;
    }
  });