/ %div
/   = f.label :answer1, 'Answer1:', :style => "font-weight:bold;"
/   = f.radio_button :answer1, 'answer1', :as => :radio
/   = question.answer.A
/ %br
/ %div
/   = f.label :answer2, 'Answer2:', :style => "font-weight:bold;"
/   = f.radio_button :answer2, 'answer2', :as => :radio
/   = question.answer.B
/ %br
/ %div
/   = f.label :answer3, 'Answer3:', :style => "font-weight:bold;"
/   = f.radio_button :answer3, 'answer3', :as => :radio
/   = question.answer.C
/ %br
/ %div
/   = f.label :answer4, 'Answer4:', :style => "font-weight:bold;"
/   = f.radio_button :answer4, 'answer4', :as => :radio
/   = question.answer.D