/ %h1 Quiz Results
/ %p#question
/   You answered correctly #{@correct} out of #{@total} questions.
/ %p#score
/   = @score
/ = link_to "Take another quiz", quizzes_path
/ - content_for(:title) do
/   Quiz Results
.login_page
  .container.quiz
    .question_form
      %h1{:style => "text-align:center;"}
        THANKS FOR GIVING TEST
      %h4{:style => "text-align:center;"}
        We Will Announce Result very Soon.
