.quiz_start
  .container.quiz
    .question_form
      %h1{:style => "text-align:center;"}
        THANKS FOR GIVING TEST
      %h4{:style => "text-align:center;"}
        We Will Announce Result very Soon.