%h1 Start Quiz
= form_tag({:controller => "quizzes",:action => "start"}) do
  %div
    = label_tag :category
    = select_tag :category_id, Category.all.collect{|p| p.question_category}.join(','), :prompt => "please select category"
  %p.center
    =# select_tag(:number, options_for_select((1..10).map {|x| [x, x]}), :id => "count")
  .center
    = submit_tag "Start!", :class => "submit"
- content_for(:title) do
  Start Quiz