// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #558C89
}

.quiz_start {
  padding-bottom: 40px;
  padding-top: 60px;
}