#wrap {
  height: auto !important;
  margin: 0 auto -60px;
  min-height: 100%;
}
#push, #footer {
  height: 60px;
}
#footer {
  background-color: #097587;
  text-align: center;
  font-size: 1em;
}
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  /*margin: 20px 0;*/
}
code {
  font-size: 80%;
}

/*.main_header {
  background-color: #097587;
}*/
.main_header {
  background-image: url("header_bg123.png")
}

.buttons {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: -moz-linear-gradient(-90deg, #838A90, #414549) repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-color: #616A71 #484E53 #363B3F;
  border-image: none;
  border-radius: 200px 200px 200px 200px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  color: #EFEFEF !important;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 19px;
  margin-right: 3px;
  padding: 7px 16px 6px;
  text-decoration: none;
  text-shadow: 0 1px 0 #000000;
}
