.container
  Copyright © 2014 by IGNIS IT SOLUTIONS.
  %br/
  .our_site
    All Rights Reserved.
    %a{href: "http://www.ignisitsolutions.com/"} www.ignisitsolutions.com
  %br/
  = social_share_button_tag

:css
  .our_site a {
    color : #002B00 !important;
  }